.box-bill-extra{
    .box-bill {
        margin-top: 70px;
        background-color: #0071BC;
        padding: 20px;
        border-radius: 25px;
        .bill{
            background-color: #ffffff;
            padding: 50px 10px 30px 10px;

        .header-bill {
            display: flex;
            justify-content: space-between;
            .card {
                margin: 5px 20px 5px 5px;
                .plus {
                    width: 45px;
                    height: 45px;
                    position: relative;
                    background-color: red;
                    padding: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;

                    .horizontal-line,
                    .vertical-line {
                        position: absolute;
                        background-color: white;
                        border-radius: 7px;
                    }

                    .horizontal-line {
                        width: 30px;
                        height: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .vertical-line {
                        width: 13px;
                        height: 30px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .list-line{
                .line{
                    width: 110px;
                    height: 2px;
                    padding-bottom: 10px;
                    border-bottom:2px solid grey ;
                }
            }
        }

        .content-bill{
            .list-lines{
                .lines{
                    width: 100%;
                    height: 2px;
                    padding-bottom: 10px;
                    border-bottom:2px solid grey ;
                }
            }
        }
        }
    }
}