$font-family: 'Avenir Next', sans-serif;

.wrapper {

   font-family: $font-family;
    .loading {
        width: 30%;
        height: 7px;
        background-color: #0071BC;
        margin-left: 0;
    }

    .content-chandoan {
        display: flex;
        justify-content: space-between;
        // background-color: #F2F2F2;

        .section-left {
            width: 60%;


            margin-top: 60px;

            table {
                width: 80%;
                margin-right: 0;

                tbody {
                    tr {
                        .form-title {
                            padding: 0 0 38px 0;

                            dd {
                                h2 {
                                    font-size: 37px;
                                }
                            }

                            dl {
                                font-size: 17px;
                                padding: 5px;
                            }
                        }

                        .box-field {
                            padding: 5px 0;
                            // width: 350px;
                            height: 80px;
                            margin-right: 50px;

                            .field-input {
                                width: 400px;
                                height: 100%;
                                padding: 20px;
                                border-radius: 20px;
                                outline: none;
                                border: none;
                                font-size: 20px;
                            }
                        }

                        .field-sex {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            background-color: white;
                            border-radius: 30px;
                            height: 70px;
                            width: 200px;
                            margin-top: 5px;
                            .title{
                                font-size: 15px;
                                // padding: 5px 0 0 0;
                                // position: absolute;
                                // top: 0;
    // left: 50%;
    // transform: translate(-50%, -50%);
                            }
                            .box-field-sex {
                                
                                
                                .btn-sex {
                                    width: 75px !important;
                                    height: 35px;
                                    padding: 5px 20px;
                                    border-radius: 20px;
                                    outline: none;
                                    border: 1px solid #F2F2F2;
                                    background-color: white;
                                    // margin: 0 10px;
                                    &:hover {
                                        background-color: #0071BC;
                                        color: white;
                                    }
                                }

                                display: flex;
                                justify-content: space-between;
                                padding: 7px 0 ;
                                width: 90%;
                                // border-radius: 30px;
                                height: 45px;
                                align-items: end;
                            }
                        }
                    }
                }
            }
        }

        .section-rigth {
            width: 40%;
            display: flex;
            flex-direction: column;

            .block-top {
                margin-top: 35px;
                margin-left: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                .btn {
                    width: 200px;
                    height: 60px;
                    margin-top: 150px;
                    font-family: "Avenir Next";
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #0071BC;
                    color: white;
                    outline: none;
                    border: none;
                    border-radius: 30px;
                    font-size: 22px;
                    padding: 15px 20px;
                    top: 0;
                    left: 0;
                    // margin-left: 90px;
                    .link{

                        display: flex;
                        text-decoration: none;
                        color: white;
                        font-size: 22px;
                    .icon-right {
                        margin: 0 0 0 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        font-size: 25px;
                        background-color: #ffffff;
                        color: #0071BC;
                        padding: 5px;
                        border-radius: 55%;
                    }
                }
                }
            }

            .block-bottom {
                // transform: rotate(-10deg);
                display: flex;
                justify-content: center;
                align-items: center;


            }
        }
    }
}